.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    z-index: 10;
  }
  
  .header img {
    height: 15px; 
  }
  
  .connexion {
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;

   a{
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 500px;
    text-decoration: none;
    color: var(--white);
    transition: background-color 0.15s ease-in-out;
    border-radius: 100px;

    &:hover {
      background-color: var(--blue);
      color: var(--white);
    }
   }

   .login{
    background-color: transparent;
   }
   .signup{
    font-weight: 500;
    border: 3px solid var(--blue);
   }
  }
  